body { 
  background-color: #c7f59c; 
  font-family: 'Lato', sans-serif; 
} 
 
.clearfix {clear: both;} 
 
.global{ 
  width: 600px; height: auto; 
  margin: 60px auto 0; 
  background-color: rgb(249, 250, 178); 
  border-radius: 4px; 
  padding: 30px; 
} 
 
header h1 {text-align: center; margin-top: 0; color: #222;} 
header h3 {color: rgb(180, 72, 72);} 
 
table {
  margin: auto;
}

td {
  width: 80px;
  height: 80px;
  background-color: azure;
  cursor: pointer;
  border-radius: 100%;
  
}

td:hover {
  background-color:antiquewhite;
}